* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
    --primary-bg: #f9fafb;
    --N: 7;
    --X: 3;
    --box-size: 100px;
    --slide-gap: 2rem;
}

#start {
    /* display: none; */
}

body {
    margin: auto;
    max-width: 1080px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

main {
    flex-grow: 1;
}

table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

button {
    padding: 0.25rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--box-size)* -1 * var(--N)));
    }
}

.slide-title {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: darkred;
}

.slide-description {
    font-size: 0.725rem;
    color: darkslategray;
}

.subtitle{
    color: darkslategray;
}

.slider {
    overflow: hidden;
    position: relative;
    display: flex;
    border: solid 2px red;
}

.slider .fading {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* .slider .fading::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg, var(--primary-bg) 0%, rgba(9, 9, 121, 0) 35%, rgba(9, 9, 121, 0) 65%, var(--primary-bg) 100%);
    z-index: 1;
} */

.slider .slide-track {
    /* animation: scroll 4s linear infinite; */
    display: flex;
    width: calc(100% / var(--X) * var(--N) * 3);
    padding: 0 calc(var(--slide-gap)/2);
    border: solid 2px green;
    transform: translateX(calc(100% / var(--N)/-2/3 - 100% / 3));

    max-height: 65vh;
    gap: var(--slide-gap);
    transition: all 200ms ease-in-out;
}


/* .slider img.slide {
    height: auto;
    width: calc(var(--box-size));
    background-color: white;
    border: solid 2px blueviolet;
} */

.slide-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.slider img {
    width: 100%;
}

.box {
    position: relative;
    min-width: var(--box-size);
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: solid 2px black;
    overflow: hidden;

    /* border: solid 2px pink; */
}


.nav-btn {
    position: absolute;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    border: solid 2px white;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 1rem;
    transform-origin: top center;
    transition-duration: 200ms;
    top: 50%;
    transform: translateY(-75%);

}

.btn-left {
    left: 0;
}

.btn-left:hover,
.btn-right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-right {
    right: 0;
}